.text-gray {
  color: #aaa;
}

.scroleo{
  height: 20rem;
  overflow: scroll;
}
.scroleo img{
  width: 50%;
  max-width: 100px;
}
.scroleo li{
  min-height: 300px;
}
.media{
  height: 10rem;
}
.intro{
  padding-block: 3rem;
}
.intro p{
  color: gray;
}
h3{
  text-align: center;
}
#reset{
  background-color: red;
  color: beige;
}
#submit{
  background-color: green;
  color: white;
}
#bouton{
  padding-block: 3rem;
}
.etiquette{
  margin-inline: 2rem;
}
