.intro{
    margin-block: 2rem;
}

.intro p{
    color: gray;
}

#utilisateur table{
    width: 40%;
    margin-inline: 30%;
}
#utilisateur th{
    font-size: 14pt;
    color: brown;
}

#utilisateur td{
    font-size: 15pt;
    font-weight: bold;
}

#utilisateur{
    margin-block: 8rem;
}